---
interface Props {
  item: {
    name: string;
    url: string;
    description: string;
    img?: string;
  };
}
const { item } = Astro.props;
---

<li class="flex space-x-4">
  {
    item.img && (
      <img
        src={item.img}
        alt={`${item.name} icon`}
        class="hidden max-w-sm rounded-lg border-2 border-accent p-2 dark:border-d-accent md:block"
      />
    )
  }
  <div>
    <a href={item.url} target="_blank" rel="noopener noreferrer" class="">
      <h4
        class="text-2xl underline hover:text-primary dark:hover:text-d-primary"
      >
        {item.name}
      </h4>
    </a>
    <p class="">{item.description}</p>
  </div>
</li>
